variable "aws_region" {
  description = "The AWS region to deploy resources in"
  type        = string
  default     = "us-east-1"
}

variable "bucket_name" {
  description = "Global unique name for the S3 bucket"
  type        = string
  default     = "my-bucket"
}

variable "iam_user_name" {
  description = "The name of the IAM user for TrueNAS"
  type        = string
  default     = "sync-user"
}

variable "archive_days" {
  description = "Days before moving objects to Deep Archive"
  type        = number
  default     = 1
}

variable "retention_days" {
  description = "Days to keep old versions (noncurrent) before deletion"
  type        = number
  default     = 180
}